/* .single-image::before {
  content: "";
  display: block;
  padding-top: 135%;
  padding-top: 125%;
}

.single-image .overlay {
  background: url("../img/DSC07292.jpg") center center no-repeat;
  background-size: cover;
  height: 130%;
  top: -25%;
  width: 105%;
  left: -5%;

  background: url("../img/DSC07079.jpg") center center no-repeat;
  background-size: cover;
  top: -3%;
  height: 106%;
  width: 140%;
  left: -40%;
} */
