@tailwind base;
@tailwind components;
@tailwind utilities;
.text-animation {
  color: var(--text-color);
}
* {
  cursor: none;
}
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Track background */
}

::-webkit-scrollbar-thumb {
  background: #51504f; /* Color of the scrollbar thumb */
  border-radius: 30px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #51504f; /* Color on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #51504f transparent; /* Thumb color and track color */
}

/* For Edge and IE */
* {
  -ms-overflow-style: auto; /* Default style */
}

.mainText {
  /* font-size: clamp(80px, 18vw, 130px); */
  font-size: clamp(80px, 18vw, 155px);
  line-height: clamp(80px, 18vw, 155px);
}

.active {
  color: #b7ab98;
}

.before-item {
  cursor: default;
}
.before-item::before {
  content: "";
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  /* z-index: -1; */
  margin: auto;
  position: absolute;
  width: 100%;
  height: 0;
  /* transform-origin: center; */
  background-color: #eb5939;
  transition: all 0.5s;
}

.before-item:hover::before {
  height: 100%;
}

.slide-in {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #eb5939;
  transform-origin: bottom;
  z-index: 999;
}

.slide-out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #eb5939;
  transform-origin: top;
  z-index: 999;
}

/* Loader */

.loading-percentage-wrapper {
  animation: moveUp 2.5s;
}
@keyframes moveUp {
  0% {
    transform: translate3d(0, 8em, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0)
      rotateZ(0) skew(0, 0);
  }
  100% {
    transform: translate3d(0);
  }
}
.text-block-2 {
  font-size: 1.5em;
}

@media screen and (max-width: 1000px) {
  .loader-line {
    display: none;
  }
  .percentage-load {
    font-size: 3em;
  }
  .number-load {
    font-size: 3em;
  }
  .text-block-2 {
    font-size: 1.3em;
  }
}
@media screen and (max-width: 768px) {
  .text-block-2 {
    font-size: 1em;
  }
}
@media screen and (max-width: 550px) {
  .loader {
    padding: 2em;
  }
  .percentage-load {
    font-size: 2em;
  }
  .number-load {
    font-size: 2em;
  }
  .text-block-2 {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 425px) {
  .loader {
    padding: 1em;
  }
  .percentage-load {
    font-size: 2em;
  }
  .number-load {
    font-size: 2em;
  }
  .text-block-2 {
    font-size: 0.7em;
  }
}

/* @media (min-width: 1200px) {
  .containerMain {
    max-width: "1140px";
    border: 2px solid white;
  }
} */
